$max-container-width: 1920px;

/// Respond to changes in screen size.
/// All styles in content will be applied from the specified breakpoint-sized screens and larger.
///
/// @name screen
/// @param {number | string} $breakpoint - Either a number with unit or a string that corresponds to a key on the $breakpoints variable.
@mixin screen($breakpoint) {
  $bk: map-get($breakpoints, $breakpoint);
  @if $bk == null {
    $bk: $breakpoint;
  }
  @media screen and (min-width: #{$bk}) {
    @content;
  }
}

@mixin xs {
  @media (min-width: #{$breakpoint-xs}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin max {
  @media (min-width: #{$breakpoint-max}) {
    @content;
  }
}
