@import '../../node_modules/modern-normalize/modern-normalize.css';
@import 'fonts';

html,
body {
  background: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
}
